ul, p {
    font: normal .7em Verdana, Arial, Helvetica, sans-serif;
}

ul {
    padding: 0;
}

ul a:hover {
    color: #04f;
}

li {
    display: block;
}

li a {
    display: block;
    margin: 2px 0;
    padding: 2px 2px 2px 22px;
    color: #666;
    text-decoration: none;
}

li:nth-child(odd) a {
    border: 1px solid #ccc;
    background-color: #ddd;
}

li:nth-child(even) a {
    border: 1px solid #ddd;
    background-color: #eee;
}

li:hover a {
    border: 1px solid #a8bcff;
    background-color: #b8c8ff;
}

.dir a {
    background: url("folder.png") 1px 1px no-repeat;
}

.up a {
    background: url("arrow-090.png") 1px 1px no-repeat;
}

.fpdf a {
    background: url("document-pdf-text.png") 1px 1px no-repeat;
}

.fdoc a {
    background: url("document-word-text.png") 1px 1px no-repeat;
}

.fxls a {
    background: url("document-excel-table.png") 1px 1px no-repeat;
}

.fcsv a {
    background: url("document-excel-csv.png") 1px 1px no-repeat;
}

.fppt a {
    background: url("document-powerpoint.png") 1px 1px no-repeat;
}

.fimage a {
    background: url("document-image.png") 1px 1px no-repeat;
}

.ftext a {
    background: url("document-text.png") 1px 1px no-repeat;
}

.fhtml a {
    background: url("document-globe.png") 1px 1px no-repeat;
}

.fphp a {
    background: url("document-php.png") 1px 1px no-repeat;
}

.fsound a {
    background: url("document-music.png") 1px 1px no-repeat;
}

.fplaylist a {
    background: url("document-music-playlist.png") 1px 1px no-repeat;
}

.fvideo a {
    background: url("document-film.png") 1px 1px no-repeat;
}

.fcompr a {
    background: url("document-zipper.png") 1px 1px no-repeat;
}

.fexe a {
    background: url("application.png") 1px 1px no-repeat;
}

.fscript a {
    background: url("script-code.png") 1px 1px no-repeat;
}

.fflash a {
    background: url("document-flash-movie.png") 1px 1px no-repeat;
}

.fapk a {
    background: url("android.png") 1px 1px no-repeat;
}

.fdefault a {
    background: url("document.png") 1px 1px no-repeat;
}

.filesize {
    float: right;
}

#footer {
    color: #444;
    text-align: center;
    font-size: .65em;
}

#footer a {
    color: #888;
}

#footer a:hover {
    color: #444;
    text-decoration: none;
}
